* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    .root,body {
        width: 100%;
        height: 100%;
        .wrapper {
            height: 100%;
            background-color: red;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

}

